<div class="organisationUnits" ng-controller="ouDetailsAliasController">
    <div class="container">

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="btn-group pull-right">
                    <!--<button type="button" class="btn btn-primary" ng-click="EditItem()">Edit</button>-->
                    <button type="button" class="btn btn-primary" ng-click="back()">X</button>
                </div>
            </div>
        </div>
        <br />

        <mp-datagrid options="gridOptions"></mp-datagrid>

        </div>
</div>