<div ng-controller="refEntitiesIndexController">
      
    <div class="BorderBox">
        <div class="row">
            <div class="col-md-3">
                <h2>Administration</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Reference Entities</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div>
                    <a href="#" ng-click="GoToTitles()">Titles</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToAusPostalCodes()">Australian Postal Codes</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToCountries()">Countries</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToLanguages()">Languages</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToDiagnosis()">ICD10</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToDriveFocus()">Drive Focus</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToDriveType()">Drive Type</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToDriveStatus()">Drive Status</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToStatusChangedReason()">Status Change Reason</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToCBUStatusChangedReason()">CBU Status Changed Reason</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToInvoiceNumCounters()">Invoice Number Counters</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToPriceItem()">Price Item</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToRelationshipType()">Relationship Type</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToItemMapping()">Item Mapping</a>
                    <br />
                </div>
                <div>
                    <div>NAV Customers</div>
                </div>
                <div>
                    <a href="#" ng-click="GoToFundingType()">Funding Type</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToOperationalMetrics()">Operational Metrics</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToConfiguration()">Configuration</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToReqNotifyConfiguration()">Request Notification Configuration</a>
                    <br />
                </div>
                <div>
                    <a href="#" ng-click="GoToNationalities()">Nationalities</a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>