<div ng-controller="refEntitiesReqNotifyConfigurationDetailController">
    
    <div class="BorderBoxTitle">
        <strong>{{title}}</strong>
    </div>
    <div class="BorderBox">       
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="btn-group pull-right">
                    <!--<ng-md-icon data-toggle="modal" data-target="#modalDeActivate" title="Deactivate" style="fill:#a3cbce;cursor:pointer" icon="healing"></ng-md-icon>-->
                    <ng-md-icon ng-click="EditItem()" title="Edit Item" style="fill:#a3cbce;cursor:pointer" icon="create"></ng-md-icon>
                    <!--<ng-md-icon ng-click="Close()" title="Close" style="fill:#a3cbce;cursor:pointer" icon="cancel"></ng-md-icon>-->                   
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">Requests Notification for Patients Trial</div>
                    <div class="col-md-6">
                        <input type="checkbox" ng-model="ReqNotifyConfigurationDetail.PatientsTrial" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">Requests Notifications for Donors/Cords Trial</div>
                    <div class="col-md-6">
                        <input type="checkbox" ng-model="ReqNotifyConfigurationDetail.DonorsTrial" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>