<div ng-controller="refEntitiesCreateDiagnosisController">   
    <div class="BorderBoxTitle">
        <strong>{{title}}</strong>
    </div>
    <div class="BorderBox">
        <br />
        <br />
        <form vmsg-form name="refDiagnosisCreateForm" ng-submit="CreateDiagnosis()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="col-md-4">Category Code</div>
                            <div class="col-md-8">
                                <input ng-model="DiagnosisDetail.CategoryCode" name="CategoryCode" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refDiagnosisCreateForm.CategoryCode.$error" ng-show="refDiagnosisCreateForm.CategoryCode.$dirty && refDiagnosisCreateForm.CategoryCode.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refDiagnosisCreateForm.CategoryCode.$error.required">
                                        <msg>Category code field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Category Description</div>
                            <div class="col-md-8">
                                <input ng-model="DiagnosisDetail.CategoryDescription" name="CategoryDescription" class="form-control" vmsg="{showTrigger: 'keydown'}" required />
                                <div ng-messages="refDiagnosisCreateForm.CategoryDescription.$error" ng-show="refDiagnosisCreateForm.CategoryDescription.$dirty && refDiagnosisCreateForm.CategoryDescription.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refDiagnosisCreateForm.CategoryDescription.$error.required">
                                        <msg>Category Description field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">SubCategory Code</div>
                            <div class="col-md-8">
                                <input ng-model="DiagnosisDetail.SubCategoryCode" name="SubCategoryCode" type="text" class="form-control" vmsg="{showTrigger: 'keydown'}" required />
                                <div ng-messages="refDiagnosisCreateForm.SubCategoryCode.$error" ng-show="refDiagnosisCreateForm.SubCategoryCode.$dirty && refDiagnosisCreateForm.SubCategoryCode.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refDiagnosisCreateForm.SubCategoryCode.$error.required">
                                        <msg>SubCategory code field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">SubCategory Description</div>
                            <div class="col-md-8">
                                <input ng-model="DiagnosisDetail.SubCategoryDescription" name="SubCategoryDescription" class="form-control" vmsg="{showTrigger: 'keydown'}" required />
                                <div ng-messages="refDiagnosisCreateForm.SubCategoryDescription.$error" ng-show="refDiagnosisCreateForm.SubCategoryDescription.$dirty && refDiagnosisCreateForm.SubCategoryDescription.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refDiagnosisCreateForm.SubCategoryDescription.$error.required">
                                        <msg>SubCategory Description field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Is Acceptable Treatment</div>
                            <div class="col-md-8">
                                <input ng-model="DiagnosisDetail.IsAcceptableTreatment" name="IsAcceptableTreatment" class="form-control" vmsg="{showTrigger: 'keydown'}" />
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6"><button type="submit" class="btn btn-primary pull-right" value="Create" ng-disabled="refDiagnosisCreateForm.$invalid">Create</button></div>
                            <div class="col-md-6"><button type="button" class="btn btn-primary pull-left" ng-click="Cancel()">Cancel</button></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>



    </div>

</div>