<div ng-controller="refEntitiesItemMappingDetailController">
   
    <div class="BorderBoxTitle">
        <strong>{{title}}</strong>
    </div>
    <div class="BorderBox">        
        <br />
        <br />
        <form vmsg-form name="refItemMappingEditForm" ng-submit="Save()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="col-md-4">Source Entity</div>
                            <div class="col-md-8">
                                <input ng-model="ItemMappingDetail.SourceEntity" name="SourceEntity" class="form-control" vmsg="{showTrigger: 'blur'}" autofocus required />
                                <div ng-messages="refItemMappingEditForm.SourceEntity.$error" ng-show="refItemMappingEditForm.SourceEntity.$dirty && refItemMappingEditForm.SourceEntity.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refItemMappingEditForm.SourceEntity.$error.required">
                                        <msg>The Source Entity field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Mapped From</div>
                            <div class="col-md-8">
                                <input ng-model="ItemMappingDetail.MappedFrom" name="MappedFrom" class="form-control" vmsg="{showTrigger: 'blur'}" autofocus required />
                                <div ng-messages="refItemMappingEditForm.MappedFrom.$error" ng-show="refItemMappingEditForm.MappedFrom.$dirty && refItemMappingEditForm.MappedFrom.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refItemMappingEditForm.MappedFrom.$error.required">
                                        <msg>The Mapped From field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Mapped To</div>
                            <div class="col-md-8">
                                <input ng-model="ItemMappingDetail.MappedTo" name="MappedTo" class="form-control" vmsg="{showTrigger: 'blur'}" autofocus required />
                                <div ng-messages="refItemMappingEditForm.MappedTo.$error" ng-show="refItemMappingEditForm.MappedTo.$dirty && refItemMappingEditForm.MappedTo.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refItemMappingEditForm.MappedTo.$error.required">
                                        <msg>The MappedTo field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6"><button type="submit" class="btn btn-primary pull-right" value="Save" ng-disabled="refItemMappingEditForm.$invalid">Save</button></div>
                            <div class="col-md-6"><button type="button" class="btn btn-primary pull-left" ng-click="Cancel()">Cancel</button></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>



    </div>
</div>