<div ng-controller="orgUnitRepRolesDetailController">
    <div class="BorderBoxTitle">
        <strong>{{title}}</strong>
    </div>
    <div class="BorderBox">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="btn-group pull-right">
                    <ng-md-icon data-toggle="modal" data-target="#modalDeActivate" title="Deactivate" style="fill:#a3cbce;cursor:pointer" icon="healing"></ng-md-icon>
                    <ng-md-icon ng-click="EditItem()" title="Edit Item" style="fill:#a3cbce;cursor:pointer" icon="create"></ng-md-icon>
                    <ng-md-icon ng-click="Close()" title="Close" style="fill:#a3cbce;cursor:pointer" icon="cancel"></ng-md-icon>
                    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDeActivate">Deactivate</button>
                    <button type="button" class="btn btn-primary" ng-click="EditItem()">Edit</button>
                    <button type="button" class="btn btn-primary" ng-click="Close()">Close</button>-->
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">Role Name</div>
                    <div class="col-md-8">{{OrgUnitRepRolesDetail.RoleName}}</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">User Roles</div>
                    <div class="col-md-8">
                        <span ng-repeat="userRepRole in OrgUnitRepRolesDetail.UserRoles">
                            <input type="checkbox" value="userRepRole.Name" ng-checked="userRepRole.Matched" disabled />
                            <label>{{userRepRole.Name}}</label>
                            <br />
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Organisation Unit Types</div>
                    <div class="col-md-8">
                        <span ng-repeat="orgUnitType in OrgUnitRepRolesDetail.OrganizationUnitTypes">
                            <input type="checkbox" value="orgUnitType.Name" ng-checked="orgUnitType.Matched" disabled />
                            <label>{{orgUnitType.Name}}</label>
                            <br />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <!-- Modal - Deactivate -->
        <div class="modal fade" id="modalDeActivate" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Deactivate Account</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to Deactivate account?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>