<div ng-controller="userAdminIndexController">
  
    <div class="BorderBox">
        <div class="row">
            <div class="col-md-3">
                <h2>Administration</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>User Admin</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div>
                    <a href="#" ng-click="GoToOU()">OU Rep Roles</a>
                    <!--<div>OU Rep Roles</div>-->
                </div>
                <div>
                    <a href="#" ng-click="GoToUserAccounts()">User Accounts</a>
                    <br />
                </div>
                <div>
                    <!--<a href="#" ng-click="GoToLogHistory()">Log History</a>-->
                    <div>Log History</div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

