<div ng-controller="refEntitiesNationalitiesController">
        
    <div class="BorderBoxTitle">
        <strong>{{title}}</strong>
    </div>
    <div class="BorderBox">        
        <br />
        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <!--<div class="col-md-6">
                    <label><strong>Include Deactivated&nbsp;&nbsp;</strong></label><input type="checkbox" disabled />
                </div>-->
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary" ng-click="CreateNationality()">New</button>
                </div>
            </div>
        </div>
        <br />       
        <mp-datagrid options="gridOptions"></mp-datagrid>
        <br />
        <br />

    </div>
</div>