<div ng-controller="refEntitiesCreateInvoiceNumCounterController">
  
    <div class="BorderBoxTitle">
        <strong>{{title}}</strong>
    </div>
    <div class="BorderBox">       
        <br />
        <br />
        <form vmsg-form name="refInvoiceNumCounterCreateForm" ng-submit="CreateInvoiceNumCounter()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="col-md-4">Donor Invoice Prefix</div>
                            <div class="col-md-8">
                                <input ng-model="InvoiceNumCounterDetail.DonorInvoicePrefix" name="DonorInvoicePrefix" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.DonorInvoicePrefix.$error" ng-show="refInvoiceNumCounterCreateForm.DonorInvoicePrefix.$dirty && refInvoiceNumCounterCreateForm.DonorInvoicePrefix.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.DonorInvoicePrefix.$error.required">
                                        <msg>The DonorInvoicePrefix field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Donor Invoice Counter</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="InvoiceNumCounterDetail.DonorInvoiceCounter" name="DonorInvoiceCounter" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.DonorInvoiceCounter.$error" ng-show="refInvoiceNumCounterCreateForm.DonorInvoiceCounter.$dirty && refInvoiceNumCounterCreateForm.DonorInvoiceCounter.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.DonorInvoiceCounter.$error.required">
                                        <msg>The DonorInvoiceCounter field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Donor Credit Prefix</div>
                            <div class="col-md-8">
                                <input ng-model="InvoiceNumCounterDetail.DonorCreditPrefix" name="DonorCreditPrefix" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.DonorCreditPrefix.$error" ng-show="refInvoiceNumCounterCreateForm.DonorCreditPrefix.$dirty && refInvoiceNumCounterCreateForm.DonorCreditPrefix.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.DonorCreditPrefix.$error.required">
                                        <msg>The DonorCreditPrefix field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Donor Credit Counter</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="InvoiceNumCounterDetail.DonorCreditCounter" name="DonorCreditCounter" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.DonorCreditCounter.$error" ng-show="refInvoiceNumCounterCreateForm.DonorCreditCounter.$dirty && refInvoiceNumCounterCreateForm.DonorCreditCounter.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.DonorCreditCounter.$error.required">
                                        <msg>The DonorCreditCounter field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Cord Invoice Prefix</div>
                            <div class="col-md-8">
                                <input ng-model="InvoiceNumCounterDetail.CordInvoicePrefix" name="CordInvoicePrefix" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.CordInvoicePrefix.$error" ng-show="refInvoiceNumCounterCreateForm.CordInvoicePrefix.$dirty && refInvoiceNumCounterCreateForm.CordInvoicePrefix.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.CordInvoicePrefix.$error.required">
                                        <msg>The CordInvoicePrefix field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Cord Invoice Counter</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="InvoiceNumCounterDetail.CordInvoiceCounter" name="CordInvoiceCounter" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.CordInvoiceCounter.$error" ng-show="refInvoiceNumCounterCreateForm.CordInvoiceCounter.$dirty && refInvoiceNumCounterCreateForm.CordInvoiceCounter.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.CordInvoiceCounter.$error.required">
                                        <msg>The CordInvoiceCounter field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Cord Credit Prefix</div>
                            <div class="col-md-8">
                                <input ng-model="InvoiceNumCounterDetail.CordCreditPrefix" name="CordCreditPrefix" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.CordCreditPrefix.$error" ng-show="refInvoiceNumCounterCreateForm.CordCreditPrefix.$dirty && refInvoiceNumCounterCreateForm.CordCreditPrefix.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.CordCreditPrefix.$error.required">
                                        <msg>The CordCreditPrefix field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">Cord Credit Counter</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="InvoiceNumCounterDetail.CordCreditCounter" name="CordCreditCounter" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.CordCreditCounter.$error" ng-show="refInvoiceNumCounterCreateForm.CordCreditCounter.$dirty && refInvoiceNumCounterCreateForm.CordCreditCounter.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.CordCreditCounter.$error.required">
                                        <msg>The CordCreditCounter field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">NCBCN Invoice Prefix</div>
                            <div class="col-md-8">
                                <input ng-model="InvoiceNumCounterDetail.NCBCNInvoicePrefix" name="NCBCNInvoicePrefix" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.NCBCNInvoicePrefix.$error" ng-show="refInvoiceNumCounterCreateForm.NCBCNInvoicePrefix.$dirty && refInvoiceNumCounterCreateForm.NCBCNInvoicePrefix.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.NCBCNInvoicePrefix.$error.required">
                                        <msg>The NCBCNInvoicePrefix field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">NCBCN Invoice Counter</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="InvoiceNumCounterDetail.NCBCNInvoiceCounter" name="NCBCNInvoiceCounter" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.NCBCNInvoiceCounter.$error" ng-show="refInvoiceNumCounterCreateForm.NCBCNInvoiceCounter.$dirty && refInvoiceNumCounterCreateForm.NCBCNInvoiceCounter.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.NCBCNInvoiceCounter.$error.required">
                                        <msg>The NCBCNInvoiceCounter field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">NCBCN Credit Prefix</div>
                            <div class="col-md-8">
                                <input ng-model="InvoiceNumCounterDetail.NCBCNCreditPrefix" name="NCBCNCreditPrefix" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.NCBCNCreditPrefix.$error" ng-show="refInvoiceNumCounterCreateForm.NCBCNCreditPrefix.$dirty && refInvoiceNumCounterCreateForm.NCBCNCreditPrefix.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.NCBCNCreditPrefix.$error.required">
                                        <msg>The NCBCNCreditPrefix field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">NCBCN Credit Counter</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="InvoiceNumCounterDetail.NCBCNCreditCounter" name="NCBCNCreditCounter" class="form-control" vmsg="{showTrigger: 'keydown'}" autofocus required />
                                <div ng-messages="refInvoiceNumCounterCreateForm.NCBCNCreditCounter.$error" ng-show="refInvoiceNumCounterCreateForm.NCBCNCreditCounter.$dirty && refInvoiceNumCounterCreateForm.NCBCNCreditCounter.$error">
                                    <span ng-message="required" class="ng-scope validation-message" ng-show="refInvoiceNumCounterCreateForm.NCBCNCreditCounter.$error.required">
                                        <msg>The NCBCNCreditCounter field is required.</msg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6"><button type="submit" class="btn btn-primary pull-right" value="Create" ng-disabled="refInvoiceNumCounterCreateForm.$invalid">Create</button></div>
                            <div class="col-md-6"><button type="button" class="btn btn-primary pull-left" ng-click="Cancel()">Cancel</button></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>



    </div>

</div>