<div class="layout-bottom" ng-controller="appFooter" ng-show="model.showFooter">
    <div class="col-md-12">
        <div class="col-md-6">
            <span class="text-center"><span class="spanColor">about</span></span>&nbsp;&nbsp;&nbsp;
            <span class="text-center"><span class="spanColor">accreditation</span></span>&nbsp;&nbsp;&nbsp;
            <span class="text-center"><span class="spanColor">corporate website</span></span>&nbsp;&nbsp;&nbsp;
            <span class="text-center"><span class="spanColor">terms</span></span>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>