<div ng-controller="userAccountController">
  
    <div class="BorderBoxTitle">
        <strong>{{title}}</strong>
    </div>
    <div class="BorderBox">       
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <div class="col-md-6">
                <!--<button type="button" class="btn btn-primary" disabled ng-click="CreateUserAccounts()">New</button>-->
            </div>
        </div>
        <br />
        <mp-datagrid options="gridOptions"></mp-datagrid>
    </div>
</div>


