<div ng-controller="userAccountAttachmentsController">
    <strong>Attachments</strong>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="btn-group pull-right">                
                <button type="button" class="btn btn-primary" disabled ng-click="NewItem()">New</button>
                <button type="button" class="btn btn-primary" ng-click="Close()">Close</button>
            </div>
        </div>
    </div>
    <br /> 
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-4" style="background-color: green;border:1px solid black;color:white"><strong>File Name</strong></div>
            <div class="col-md-4" style="background-color: green;border:1px solid black;color:white"><strong>Uploaded</strong></div>
            <div class="col-md-4" style="background-color: green;border:1px solid black;color:white"><strong>File Type</strong></div>
        </div>
    </div>
</div>